<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  	<h1>Privatespace</h1>
    <div class="content-container container">
      <%- content %>
    </div>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>

</html>